<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0," name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--  Fonts and icons  -->
    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- Material Kit CSS -->
    <link href="node_modules/material-kit/assets/css/material-kit.css?v=2.0.4" rel="stylesheet" />
    <title>Gamebook Live Streamer</title>
</head>
<body class="index-page sidebar-collapse">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/index.html">
                    Gamebook Live Streamer
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#settingsOnlineModal" class="nav-link">
                            <i class="material-icons">cast</i> Online Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="modal" data-target="#settingsFileModal" class="nav-link">
                            <i class="material-icons">view_list</i> File Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header-filter" data-parallax="true" style="background-image: url('img/bg-ls.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <div class="container">
                            <div class="section text-center">
                                <h1 id="gamebook-title" contenteditable="true" oninput="app.saveTitle()">Editable Title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main main-raised">
            <div class="container">
                <div class="row justify-content-center"></div>&nbsp;
                <div class="row justify-content-center">
                    <div class=" col-md-7">
                        <div class="card">
                            <div class="progress progress-line-primary d-none" id="requests-progress">
                                <div class="progress-bar progress-bar-primary "
                                     role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100" style="width:0%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">Gamebook Live Streamer</h4>
                                <div class="row justify-content-center">
                                    <div class="form-group label-floating col-md-6">
                                        <label for="question">Section</label>
                                        <select class="form-control selectpiker"
                                                data-live-search="true"
                                                data-style="btn-link"
                                                id="question"
                                                onchange="app.display()"></select>
                                    </div>
                                    <div class="form-group label-floating col-md-6 d-none">
                                        <label for="question">Other</label>
                                        <select class="form-control selectpiker"
                                                data-live-search="true"
                                                data-style="btn-link"
                                                id="other"
                                                onchange="app.displayOther()"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 d-none">
                        <div class="card" id="live-polls">
                            <div class="card-header card-header-icon card-header-info">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" href="#" onclick="app.pollOther()" id="live-poll-button">
                                                    <i class="material-icons">poll</i>
                                                    <span class="text">Poll</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                &nbsp;
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col label-floating align-self-center">
                                        <div id="live-display-options" class="display-option"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center"></div>
                <div class="card">
                    <div class="card-header card-header-icon card-header-warning">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item col-md-7">
                                        <a class="nav-link">
                                            Display Question : <b id="display-question"></b>
                                        </a>
                                    </li>
                                    <li class="nav-item col-md-3">
                                        <a class="nav-link active d-none" href="#" onclick="app.poll()" id="poll-button">
                                            <i class="material-icons">poll</i>
                                            Poll
                                        </a>
                                    </li>
                                    <li class="nav-item col-md-2">
                                        <a class="nav-link active btn-inline" href="#" onclick="app.roll();" id="roll-button">
                                            <i class="material-icons">casino</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col label-floating align-self-center">
                                <div id="display-options" class="display-option"></div>
                                <div class="display-option">
                                    <div class="row">
                                        <a onclick="app.addOpt()" class="action add col-md-1"><i class="material-icons text-success">add</i></a>
                                        <input type="text" id="option-add" class="form-control col-md-8" placeholder="Option to add" onkeypress="app.optPressed(event)">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div id="display-xlpic" class="action card d-none" onclick="app.picture('xl')"></div>
                                    <div id="display-pic" class="action card d-none" onclick="app.picture('l')"></div>
                                    <div id="display-smallpic" class="action card d-none" onclick="app.picture('s')"></div>
                                    <div class="col-md-12 text-center">Click on picture to display</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center"></div>
                <div class="card d-none">
                    <div class="card-header card-header-icon card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="material-icons">error_outline</i>
                                            Live Errors
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col label-floating align-self-center">

                                <div id="live-error">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center"></div>
                <div class="card d-none">
                    <div class="card-header card-header-icon card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="material-icons">error_outline</i>
                                            File Errors
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col label-floating align-self-center">

                                <div id="file-error">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center"></div>
            </div>
        </div>
        <div class="row justify-content-center"></div>
    </div>
    <div class="modal fade" id="settingsOnlineModal" tabindex="-1" role="dialog" aria-labelledby="settingsOnlineLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsOnlineLabel">Online Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <div class="row">
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="live-id" class="bmd-label-floating">Facebook Live Id</label>
                            <input type="text" id="live-id" class="form-control" placeholder="123456789" />
                            <span class="form-control-feedback success">
                                <i class="material-icons">done</i>
                            </span>
                            <span class="form-control-feedback danger">
                                <i class="material-icons">clear</i>
                            </span>
                        </div>
                        <div class="form-group col-md-4 label-floating  bmd-form-group">
                            <button onclick="app.fbConnect(true)" class="btn btn-info">Connect</button>
                        </div>
                    </div>
                    <div class="row">
                        <!-- https://stream-labs.github.io/streamlabs-obs-api-docs/ -->
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="live-id" class="bmd-label-floating">Streamlabs OBS url</label>
                            <input type="text" id="slobs-url" class="form-control" placeholder="http://127.0.0.1:59650" />
                            <span class="form-control-feedback success">
                                <i class="material-icons">done</i>
                            </span>
                            <span class="form-control-feedback danger">
                                <i class="material-icons">clear</i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="live-id" class="bmd-label-floating">Streamlabs OBS Auth Token</label>
                            <input type="text" id="slobs-token" class="form-control" placeholder="a8649154c541b927d0d29cc54adb0c53efc2ba7" />
                            <span class="form-control-feedback success">
                                <i class="material-icons">done</i>
                            </span>
                            <span class="form-control-feedback danger">
                                <i class="material-icons">clear</i>
                            </span>
                        </div>
                        <div class="form-group col-md-4 label-floating  bmd-form-group">
                            <button onclick="app.slobsConnect()" class="btn btn-info">Connect</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="book-no" class="bmd-label-floating">Delay after showing poll (seconds)</label>
                            <input type="number" id="countdown-delay" class="form-control" placeholder="3" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="book-no" class="bmd-label-floating">Book no for projectaon.org</label>
                            <input type="text" id="book-no" class="form-control" placeholder="05sots" />
                        </div>
                        <div class="form-group col-md-4 label-floating  bmd-form-group">
                            <a href="https://www.projectaon.org/en/Main/Books" target="_blank" class="btn btn-secondary">References</a>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="app.ldvelh.load()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="app.ldvelh.save()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settingsFileModal" tabindex="-1" role="dialog" aria-labelledby="settingsFileLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsFileLabel">File Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="tsv" class="bmd-label-floating">TSV file name</label>
                            <input type="text" id="tsv" class="form-control" placeholder="ls1.tsv" />
                            <span class="form-control-feedback success">
                                <i class="material-icons">done</i>
                            </span>
                            <span class="form-control-feedback danger">
                                <i class="material-icons">clear</i>
                            </span>
                        </div>
                        <div class="form-group col-md-4 label-floating  bmd-form-group">
                            <button onclick="app.readFile()" class="btn btn-info">Read</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md-8 bmd-form-group">
                            <label for="last-no" class="bmd-label-floating">Last no</label>
                            <input type="text" id="last-no" class="form-control" placeholder="350" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md bmd-form-group">
                            <label for="colId" class="bmd-label-floating">Id Col</label>
                            <input type="number" id="colId" class="form-control" value="1" min="0" max="30" placeholder="1" />
                        </div>
                        <div class="form-group label-floating col-md bmd-form-group">
                            <label for="colQuestion" class="bmd-label-floating">Question Col</label>
                            <input type="number" id="colQuestion" class="form-control" value="1" min="0" max="30" placeholder="1" />
                        </div>
                        <div class="form-group label-floating col-md bmd-form-group">
                            <label for="colOption" class="bmd-label-floating">Option Col</label>
                            <input type="number" id="colOption" class="form-control" value="1" min="0" max="30" placeholder="5" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="app.ldvelh.load()">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="app.ldvelh.save()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="node_modules/material-kit/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="node_modules/material-kit/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="node_modules/material-kit/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="node_modules/material-kit/assets/js/plugins/moment.min.js"></script>
    <script src="node_modules/material-kit/assets/js/material-kit.js?v=2.0.4" type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <!-- CUSTOM -->
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <script type="text/javascript" src="js/cookies.js"></script>
    <script type="text/javascript" src="js/error.js"></script>
    <script type="text/javascript" src="js/slobs.js"></script>
    <script type="text/javascript" src="js/ldvelh.js"></script>
    <script type="text/javascript" src="js/live-app.js"></script>
</body>
</html>
