body {
    font-family: arial;
    font-size: 18px;
    line-height: 1.3em;
}

input, button, select {
    margin: 2px 4px;
    font-size: 1em;
    line-height: 1.3em;
}

.display-option {
    margin: 0px 15px;
}
    .display-option .action {
        float: left;
        font-weight: bold;
    }

.action {
    cursor: pointer;
}
    .action.delete {
        margin-left: -45px;
        color: red;
    }
    .action.add {
        margin: 0 5px 0 10px;
        color: green;
    }
